body {
    margin-top: 30px;
}

#aplayer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#searchResContainerRow {
    height: calc(100vh - 156px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.search-item {
    margin-bottom: 10px;
    cursor: pointer;
}

.search-item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  